section{
    .main_container_five{
        width: 100%;
        height: 60vh;
        display: flex;
        .image{
            width: 25%;
        }
        img{
            width: 100%;
        }
    }
}