//section two with the cup as and image
section{
    .main_container_two{
        width: 100%;
        height: 82.9vh;
        display: flex;
        .cup{
            width: 50%;
            img{
                width: 99.8%;
            }
        }
        .Stand_out_to_the_right_audience{
            width: 50%;
            background: white;
            h1{
                padding-top: 140px;
                padding-left: 120px;
                font-size: 35px;
                font-family: $font_fraunces;
            }
            p{
                font-family: $font_barlow;
                padding-top: 25px;
                padding-left: 120px;
                color: $GrayishBlue;
                line-height: 1.6;
            }
            h5{
                font-family: $font_fraunces;
                padding-top: 45px;
                padding-left: 120px;
                font-size: 17px;
            }
        }
    }
}